.FilmInfoPage {
    flex-grow: 1;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    align-items: center;
}
.FilmInfoPage__genre-item {
    text-decoration: dashed;
}
.FilmInfoPage__poster {
    max-width: 500px;
    width: 100%;
    object-fit: contain;
}
