.css-1hehqsk-MuiTypography-root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.css-1ly0gy-MuiTypography-root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.css-4ob670-MuiPaper-root-MuiCard-root {
    height: 625px;
}
.css-1bevvzh-MuiCardMedia-root {
    max-height: 290px;
}

@media screen and (max-width: 767px) {
    .css-46bh2p-MuiCardContent-root {
        padding: 5px !important;
    }
}
